#titleHeader{
    font-size: 3rem;
}

#topSection{
    background-color: wheat;
    text-align: center;
    padding: 0.5rem 0.5rem 3rem 0.5rem;
    border: 0.25rem solid black;
    border-radius: 0.5rem;
}

#barCode{

}

#itemQuant{

}

#addItems{

}

#bottomSection{

}

#headingBox{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    
}

#cartTitle{
    text-align: center;
    font-size: 2.25rem;
}

#list{

}

#total{

}

#checkOut{

}

#grandTotal{

}

.itemLeft{
text-align: left;
}
.itemCenter{
text-align: left;
}

.itemRight{
text-align: left;
}

