
#topSection{
    background-color: wheat;
    text-align: center;

}

#barCode{

}

#itemQuant{

}

#addItems{

}

#bottomSection{

}

#headingBox{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    
}

#cartTitle{
    text-align: center;
}

#list{

}

#total{

}

#checkOut{

}

#grandTotal{

}

.margins{
    margin: 0px 10vw;
}